h1 {
  font-size: 30px;
  font-size: 3rem;
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

h1 span {
  font-size: 18px;
  font-size: 1.8rem;
  display: block;
}

h1:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #fa4141;
}

h2 {
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 80px;
  border: 3px solid #000;
  border-radius: 100vh;
}

h2 span {
  font-size: 30px;
  font-size: 3rem;
  line-height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: 10px;
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  background: #000;
}
